.wrapper {
  .container {
    padding: 1rem;
    display: flex;
    gap: var(--gap-m);
    margin-bottom: 2rem;
    border-radius: var(--br-r);

    .right_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .right_content_top {
        display: flex;
        justify-content: space-between;

        .rank {
          font-family: "fira code", monospace;
          font-size: var(--text-r);
        }
        .title {
          font-size: var(--text-m);
          font-weight: 500;
        }
        .date {
          color: var(--secondary-text);
          font-size: var(--text-sm);
        }
      }
      .description {
        font-size: var(--text-r);
      }
      .skill_title {
        color: var(--tertiary-text);
        font-size: var(--text-m);
      }
      .skills {
        display: flex;
        gap: var(--gap-r);
        flex-wrap: wrap;

        .skill {
          font-size: var(--text-sm);
          color: rgba(var(--primary-text-rgb), 0.6);
        }
      }
      .right_content_bottom {
        display: flex;
        align-items: center;
        gap: var(--gap-r);

        svg:hover {
          color: var(--tertiary-text);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 100%;

    .image {
      width: 100%;
      height: auto;
    }

    .right_content {
      .skill_title {
        margin-top: 1rem;
      }
      .right_content_bottom {
        margin-top: 2rem;
      }
    }

    .description {
      margin: 1rem 0px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 100%;

    .image {
     height: auto;
    }

    .right_content {
      .skill_title {
        margin-top: 1rem;
      }
      .right_content_bottom {
        margin-top: 2rem;
      }
    }

    .description {
      margin: 1rem 0px;
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .image {
      width: 100%;
      height: auto;
    }

    .right_content {
      .skill_title {
        margin-top: 1rem;
      }
      .right_content_bottom {
        margin-top: 2rem;
      }
    }
  }
}
