.container {
  display: flex;
  gap: var(--cards-gap);
  padding: 1rem;
  border-radius: var(--br-r);
  width: 100%;

  .blog_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .blog_left_top {
      margin-bottom: 1rem;
      
      .subtitle {
        font-size: var(--text-r);
        font-family: "fira code", monospace;
      }
      .title {
        font-size: var(--text-m);
        font-weight: bold;
        margin: .5rem 0px;
      }
      .date {
        color: var(--tertiary-text);
        font-size: var(--text-sm);
      }
    }
  }
  .description {
    font-size: var(--text-sm);
  }

  .tags {
    display: flex;
    gap: var(--gap-sm);
    flex-wrap: wrap;
    margin-top: 1rem;

    .tag {
      font-size: var(--text-sm);
      color: rgba(var(--primary-text-rgb), 0.5);
    }
  }

  .btn_grp {
    display: flex;
    gap: var(--gap-m);

    svg:hover {
      color: var(--tertiary-text);
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .blog_right {
      .img {
        width: 400px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;

    .blog_right {
      .img {
        width: 100%;
      }
    }
    .description {
      font-size: var(--text-sm);
      margin: 2rem 0px;
    }
    .tags {
      margin: 2rem 0px;
    }
    .blog_left_top {
      .subtitle {
        font-size: var(--text-r);
        font-family: "fira code", monospace;
      }
      .title {
        font-size: var(--text-m);
        font-weight: 500;
      }
      .date {
        color: var(--secondary-text);
        font-size: var(--text-sm);
      }
    }
  }
}
