.btn {
  &:active {
    transform: scale(0.95);
  }
}

.primary {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: var(--br-r);
  background: transparent;
  color: var(--tertiary-text);
  border: var(--bw-r) solid var(--primary-border);
  min-width: 10rem;

  &:hover {
    background: rgba(var(--secondary-l-rgb), 0.2);
    color: var(--primary-text);
  }
}

.secondary {
  cursor: pointer;
  padding: 6px 21px;
  border-radius: var(--br-r);
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--tertiary)
  );
  color: #fff;
  min-width: 10rem;

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--secondary),
      var(--tertiary)
    );
  }
}

.tertiary {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: var(--br-r);
  background: transparent;
  color: #fff;
  border: var(--bw-r) solid #fff;
  min-width: 10rem;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.small {
  font-size: var(--text-xs);
  width: fit-content;
}

.medium {
  font-size: var(--text-r);
  width: fit-content;
}

.large {
  font-size: var(--text-m);
  width: fit-content;
}
