.nav_bar {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: var(--text-m);
  }

  .nav_items {
    display: none;
    gap: var(--gap-r);

    .nav_item a {
      font-size: var(--text-sm);

      &:hover {
        color: var(--secondary-l);
      }
    }

    @media screen and (min-width: 1400px) {
      display: flex;
    }
  }

  .mobile_nav_container {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    right: -100%;

    .overlay {
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.6);
    }

    .mobile_menu {
      background: var(--primary);
      height: 100%;
      overflow-y: scroll;
      width: 100%;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      gap: var(--gap-r);
      padding: 2rem;

      .seperator {
        height: 2px;
        width: 100%;
        border: 0.5px solid var(--primary-l);
      }

      .btn {
        margin-top: 2rem;
      }

      .close_btn_container {
        display: flex;
        justify-content: flex-end;

        .close_btn {
          background: var(--primary-l);
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          padding: 1rem;
          border-radius: 50%;
          position: fixed;
          right: 2rem;
          top: 2rem;
        }
      }

      .title {
        font-size: var(--text-m);
      }

      .nav_item a {
        font-size: var(--text-sm);

        &:hover {
          color: var(--secondary-l);
        }
      }
    }
    @media screen and (min-width: 1400px) {
      display: none;
    }
  }

  .active_nav {
    right: 0px;
  }
}

@media screen and (max-width: 550px) {
  .nav_bar {
    padding-left: 2rem;
    padding-right: 2rem;

    .mobile_nav_container {
      .mobile_menu {
        width: 100%;
        max-width: auto;
        min-width: 100%;

        .title {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .nav_bar {
    .mobile_nav_container {
      display: none;
    }
  }
}
