.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14rem;

    .left {
      display: flex;
      flex-direction: column;
      gap: var(--gap-m);

      .title {
        font-size: var(--text-l);
      }

      .description {
        font-size: var(--text-m);
      }

      .qualities {
        display: flex;
        gap: var(--gap-m);

        ul li {
          font-size: var(--text-r);
          display: list-item;
          list-style-image: url("/assets/bullet.svg");
          padding-inline-start: 1ch;
          margin-left: 2rem;
          line-height: 4rem;
        }
      }

      .btn_grp {
        display: flex;
        gap: var(--gap-m);

        button {
          min-width: 220px;
        }
      }
    }

    .right {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: .7rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          -45deg,
          var(--secondary),
          var(--tertiary)
        );
        z-index: -1;
      }
    }
  }
}
