.wrapper {
  min-height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    gap: var(--gap-sm);
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: var(--gap-l);

      .greeting {
        font-family: "fira-code", monospace;
        font-size: var(--text-m);
      }
      .name {
        font-size: var(--text-xxl);
        font-weight: bold;

        width: max-content;
      }
      .subtitle {
        font-size: var(--text-l);
        font-weight: bold;
        color: var(--secondary-text);
      }
      .description {
        margin-top: var(--gap-sm);
        font-size: var(--text-m);
      }
    }
    .stats {
      display: flex;
      gap: var(--gap-r);
      align-items: center;
      width: fit-content;

      .statsCard {
        display: flex;
        gap: var(--gap-sm);
        align-items: center;
        max-width: 180px;

        h1 {
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: var(--tertiary-text);
          color: transparent;
          font-weight: bold;
          font-size: var(--text-xl);
        }

        p {
          font-size: var(--text-sm);
          color: var(--secondary-text);
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    .container {
      .left {
        .greeting {
          font-size: var(--text-r);
        }
        .name {
          font-size: var(--text-xl);
        }
        .subtitle {
          font-size: var(--text-xm);
        }
        .description {
          margin-top: var(--gap-sm);
          font-size: var(--text-r);
        }
      }
      .right {
        img {
          display: none;
        }
      }
      .stats {
        .statsCard {
          h1 {
            font-size: var(--text-l);
          }

          p {
            font-size: var(--text-xs);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    .container {
      .left {
        .greeting {
          font-size: var(--text-sm);
        }
        .name {
          font-size: var(--text-l);
        }
        .subtitle {
          font-size: var(--text-m);
        }
        .description {
          margin-top: var(--gap-xs);
          font-size: var(--text-sm);
        }
      }
      .stats {
        .mouse {
          display: none;
        }

        .statsCard {
          h1 {
            -webkit-text-stroke-width: 2px;
            font-size: var(--text-xm);
          }

          p {
            font-size: var(--text-xxs);
          }
        }
      }
    }
  }
}
