/**
* @author: @sobhanbera
*/

.skillsContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  width: 100%;
  height: 100%;

  .skillsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    min-height: 90vh;
    width: 100%;

    .skillsHeader {
      width: 100%;
      margin: 26px 0;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      padding-bottom: 20px;
    }

    .skillsContent {
      .skillsTree {
        * {
          font-size: var(--text-sm);
          transition: all 0.5s ease;

          &::-webkit-scrollbar {
            width: 0;
            height: 0; // to remove the horizontal scroll bar
          }

          &::before {
            transition: all 0.5s ease;
          }
        }

        position: relative;
        list-style: none;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding: 0;

        overflow-x: auto;
        overflow-y: hidden;

        max-width: 100%;

        ul,
        li {
          list-style: none;
          margin: 0;
          padding: 0;
          position: relative;
        }

        ul {
          display: table;
          width: 100%;
        }

        li {
          display: table-cell;
          padding: 1.75em 1px;
          vertical-align: top;

          &::before {
            content: "";

            outline: solid 1px var(--primary-xl);

            position: absolute;
            left: 0px;
            right: 0px;
            top: 0.75em;
          }

          &:first-child:before {
            left: 50%;
          }

          &:last-child:before {
            right: 50%;
          }
        }

        span {
          color: rgba(var(--primary-text-rgb), .7);
          border: 0.1em solid var(--primary-xl);
          border-radius: 0.2em;

          display: inline-block;
          position: relative;

          min-width: 60px;
          margin: 0.2em 0.5em;
          padding: 0.3em 0.9em;

          cursor: crosshair;

          &:hover {
            border: 0.1em solid var(--secondary);
            transform: scale(1.05);
            color: var(--primary-text);

            // change border color of all the children node
            & + ul li span {
              border: 0.1em solid var(--secondary);
              transform: scale(1.05);
              color: var(--primary-text);
            }
            // also change the style for the children edges
            // somewhat upto nested levels
            & + ul::before,
            & + ul li::before,
            & + ul li span::before,
            & + ul li span + ul::before,
            & + ul li span + ul li::before,
            & + ul li span + ul li span::before {
              outline: solid 1px var(--secondary);
            }
          }
        }

        ul::before,
        span::before {
          content: "";

          outline: solid 1px var(--primary-xl);
          height: 1em;
          left: 50%;
          position: absolute;
        }

        ul::before {
          top: -0.25em;
        }

        span::before {
          top: -1.18em;
        }

        li span.skillsTreeRoot::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .skillsContainer {
    .skillsWrapper {
      // margin-top: 4rem !important;
      .skillsHeader {
        .skillsHeading {
          font-size: var(--text-m);
        }

        .line {
          width: 150px;
        }
      }

      .skillsContent {
        .skillsTree {
          * {
            font-size: var(--text-xs);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsContent {
        .skillsTree {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsHeading {
        font-size: var(--text-r);
      }

      .line {
        width: 130px;
      }

      .skillsContent {
        .skillsTree {
          align-items: flex-start;
          max-width: 900px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsContent {
        .skillsTree {
          max-width: 800px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsContent {
        .skillsTree {
          max-width: 725px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsHeader {
        .skillsHeading {
          font-size: var(--text-r);
        }

        .line {
          width: 110px;
        }
      }

      .skillsContent {
        .skillsTree {
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsHeader {
        width: 380px;

        .skillsHeading {
          font-size: var(--text-r);
        }

        .line {
          width: 80px;
        }
      }

      .skillsContent {
        .skillsTree {
          max-width: 550px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsHeader {
        .skillsHeading {
          font-size: var(--text-r);
        }
      }

      .skillsContent {
        .skillsTree {
          max-width: 450px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsHeader {
        padding-top: 100px;
      }

      .skillsContent {
        .skillsTree {
          max-width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsContent {
        .skillsTree {
          max-width: 360px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .skillsContainer {
    .skillsWrapper {
      .skillsContent {
        .skillsTree {
          max-width: 360px;
        }
      }
    }
  }
}
