.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      flex-basis: 60%;
    }

    .right {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      gap: var(--gap-m);

      .title {
        font-size: var(--text-l);
      }

      .description {
        font-size: var(--text-m);
      }

      button {
        min-width: 220px;
      }
    }
  }
}
