* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.2s ease-in-out 0s;

  outline: none;
  border: none;
  list-style: none;
  list-style-type: none;
  text-decoration: none;

  font-weight: 400;
  font-size: 16px;
}
